
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


.mealCardWrapper{
    width: 95%;
    height: fit-content;
    //border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #f9f9f9;
    box-shadow:  5px 5px 10px #d4d4d4,
                -5px -5px 10px #ffffff;




    .titleDivMC{
        flex: 3;

        display: flex;
        flex-direction: column;


        .title{
            margin: 0;
            margin-left: 3px;
            font-weight: normal;
            color: #333333;
            font-family: 'Urbanist';
        }

        .dateTag{
            margin-left: 3px;
            color: rgb(102, 102, 102);
            font-family: 'Urbanist';
        }
    }

    .iconDivMC{
        //border: 1px solid red;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;


        .deleteButtonMC{
            --background: #ff3131;
        }
    }
}